
/*https://www.w3schools.com/css/default.asp */


body{background-color: rgb(0, 0, 0);}
.imagen {
    width: 30%
}
.Titulo{
    display:Block;
    text-align: center;
    background-color: black;
    border:solid rgb(244, 241, 241);
    font:bold;
    color:rgb(245, 82, 0);
    font-size: 30px;
}

li{
    display: inline;
    margin: 40px
}
#logo{
    display:block;
    width: 5%;
}
p{
    margin: 50px;
}
.dato{
    color:aqua
}



