*   {border: solid rgb(0, 0, 0) 1px}
#navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 30px;
}

#containerCasa {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 203, 126);
    color:white;
    text-align:center;
    justify-content: center;
}

#scrollspyHeading1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: italic;
}

#pContainer {
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 150px;
    font-style: italic ;
    color: black;
}