/* *{border:1px solid black}  */

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{background-color: rgb(246, 236, 231);}
*{font-family:'Open Sans', sans-serif;
font-size: 25px}

.navbar-brand {
  font-family: 'Bebas Neue', sans-serif;
  font-size:none;
}

#TITULO-navbar {
  font-size: 45px;
}
#navbar {
  padding: 0px;
}

.seccion {
  padding: 80px; 
}
#dropdown {
  /* padding: 0px ; */
  background-color: rgb(246, 236, 231) ;
}
.fila {
  box-sizing: border-box;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.columna {
  flex: 25%;
  padding: 5px;
}

.columna img {
  margin-top: 5px;
}

/* body {
  padding: 0;
  margin:0;
} */

img {
  width: 100%;
}

@media (max-width:800px) {
  .columna {
    flex:50%
  }
}
@media (max-width:600px) {
  .columna {
    flex:100%
  }
}
@media (max-width:478px) {
  .columna {
    flex:100%
  }
  
}

@media (max-width:960px) {
  .products-container {
    justify-content: center !important;
  }
}

.seccion {
  padding: 50px;
  background-color: rgb(246, 236, 231);
}

#titulo {
    /* padding: 40px; */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
}

p {
    /* text-align: center; */
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom:50px;
    font-family:'Bebas Neue', sans-serif;

}

#lista-ideal {
    margin-left: 20px;
    list-style-type: disc;
  }
  
#lista-ideal li {
    margin-bottom: 5px;
  }


.redireccion {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 236, 231);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #555;
  }

h2 {
  font-family: 'Bebas Neue', sans-serif;
}
  



/* STYLES PESTAÑA PRODUCTOS */


/* Estilos para la sección de productos */
.products-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

/* Estilos para las cards de productos */
.card {
  width: 100%;
  margin: 15px;
}

/* Estilos para las imágenes de los productos */
.card-img-top {
  height: 500px;
  object-fit: cover;
}

/* Estilos para los títulos de los productos */
.card-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
}

/* Estilos para los botones de agregar al carrito */
.btn-primary {
  display: block;
  width: 100%;
  margin-top: auto;
  background-color: rgb(252, 115, 0) !important;
  border:1px solid black !important;
  color: black !important;
  font-family: 'Bebas Neue', sans-serif;

}

#boton-carrito:hover {
  color: aliceblue !important;
}

/* Estilos para el responsive */
@media screen and (max-width: 768px) {
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
} 

.elemento-Carrito {
margin: 7px;
font-family:'Bebas Neue', sans-serif;

}

.elemento-Eliminar {
  margin-left: 25px;
  border: 1px solid black !important;
  background-color: rgb(252, 115, 0) !important;
  border-radius: 8px;
}
.elemento-Eliminar:hover{
  color: rgb(246, 236, 231);
}

h5 {
  font-family: 'Bebas Neue', sans-serif;
}

#btn-vaciar {
  border: 1px solid black !important;
  background-color: rgb(252, 115, 0) !important;
  border-radius: 8px;
  color: black !important;

}

#btn-finalizar {
  border: 1px solid black !important;
  background-color: rgb(252, 115, 0) !important;
  border-radius: 8px;
  margin-top: 5px;
  color: black !important;

}

#btn-finalizar:hover {
  color: rgb(246, 236, 231) !important;
}
#btn-vaciar:hover {
  color: rgb(246, 236, 231) !important;
}

#Carrito {
  padding: 30px !important;
}